.swiper{
    width: 100%;
    
}
.testimonial{
    display: flex;
    align-items: center;
    gap: 40px;
}
.testimonial img{
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.content{
    padding: 10px;
    display: flex;

flex-direction: column;
gap: 15px;
}
.content h3{
    font-size: 35px;
}
/* .content p{
    padding: 20px;
    border: 1px solid rgba(131, 131, 131, 0.2);
} */
 @media screen and(max-width:768px){
    .testimonial{
        flex-direction: column;
        align-items: flex-start;
    }
 }